HOME
<ion-content>
  HOME
  <!--   <ion-row>
    <div *ngFor="let widget of widgets"></div>
     <ion-col size="12" size-md="6" *ngFor="let widget of widgets">
      <app-home-date *ngIf="widget.code == 'homeDate' && widget.isActive"></app-home-date>
      <app-home-trames *ngIf="widget.code == 'homeTrames' && widget.isActive" [favoriteListe]="favorites">
      </app-home-trames>
      <app-home-prels *ngIf="widget.code == 'homePrel' && widget.isActive" [prelevements]="prelevements">
      </app-home-prels>
      <app-home-feuilles *ngIf="widget.code == 'homeFeuilles' && widget.isActive"></app-home-feuilles>
     </ion-col> 
  </ion-row>-->
</ion-content>
